/**
 * Themes have 6 total colors. The colors shown have the general purposes:
 * + 1: dominant background color
 * + 2: dominant foreground color
 * + 3: accent background color 1
 * + 4: accent foreground color 1
 * + 5: accent background color 2
 * + 6: accent foreground color 2
 */

.green-theme {
  --dbc: #cafaba;
  --dfc: #121212;
  --abc1: #9c7;
  --afc1: #340;
  --abc2: #530;
  --afc2: #d85;
  --tree: url('journey-tree-logo-01.svg');
}

.purple-theme {
  --dbc: #97c;
  --dfc: #121212;
  --abc1: #cabafa;
  --afc1: #304;
  --abc2: #ec7;
  --afc2: #530;
  --tree: url('journey-tree-logo-01.svg');
}

.purple2-theme {
  --dbc: #cabafa;
  --dfc: #121212;
  --abc1: #75a;
  --afc1: #fff;
  --abc2: #643;
  --afc2: #fcb;
  --tree: url('journey-tree-logo-01.svg');
}

.purple3-theme {
  --dbc: #fff;
  --dfc: #121212;
  --abc1: #649;
  --afc1: #fff;
  --abc2: #599;
  --afc2: #fff;
  --tree: url('journey-tree-logo-purple-01.svg');
}

body {
  --background-color: var(--dbc);
  --header-color: var(--afc2);
  --header-background-color: var(--abc2);
  --link-color: var(--afc2);
  --link-active-color: var(--afc2);
  --link-hover-background-color: var(--abc2);
  --link-hover-color: var(--afc2);
  --link-visited-color: var(--afc2);
  --text-color: var(--dfc);
  --section-width: 30rem;
  --section-background-color: var(--abc1);
  --section-color: var(--afc1);
  --section-radius: 0 0 8px 8px;
  --shadow: 1em 1em 1em -0.5em;
  --button-shadow: 0.25em 0.25em 0.25em 0.1em var(--abc1);
  --services-heading-height: 3rem;
}

.availability {
  width: 100%;
}

/**
 * There is an effect here for making leader dots. To achieve it, the parent
 * needs a combination of settings as well as settings given to the inner text
 * (wrapped in a span in this case) and an :after pseudo element using content.
 *
 * See:
 * https://www.w3.org/Style/Examples/007/leaders.en.html
 * https://stackoverflow.com/questions/3032856/is-it-possible-to-set-the-stacking-order-of-pseudo-elements-below-their-parent-e
 */
.day-of-week-cell {
  background-color: var(--section-background-color);
  /* position: relative; */
  overflow-x: hidden;
  /* z-index: 1; */
  max-width: 40em;
}

.day-of-week-cell:after {
  /* float: left; */
  /* content: */
  /*   ". . . . . . . . . . . . . . . . . . . . " */
  /*   ". . . . . . . . . . . . . . . . . . . . " */
  /*   ". . . . . . . . . . . . . . . . . . . . " */
  /*   ". . . . . . . . . . . . . . . . . . . . " */
  /* ; */
  /* position: absolute; */
  /* white-space: nowrap; */
  /* width: 0; */
  /* z-index: -1; */
}

/**
 * This span may not be needed after all, but I can clean this up another day.
 */
.day-of-week-name {

}

.directions-help {
  padding-top: 1rem;
  text-align: center;
}

.forms {
  background-color: var(--section-background-color);
  border-radius: var(--section-radius);
  color: var(--section-color);
  max-width: var(--section-width);
  padding: 1rem;
}

.form-link {
  padding: 0.25rem;
}

.form-link:link {
  color: var(--link-color);
}

.form-link:visited {
  color: var(--link-visited-color);
}

.form-link:hover {
  background-color: var(--link-hover-background-color);
  color: var(--link-hover-color);
  border-radius: 4px;
}

.header {
  align-items: center;
  background-color: var(--section-background-color);
  color: var(--section-color);
  border-bottom: 0.1em solid var(--dfc);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  position: sticky;
  top: 0;
}

.header-contact {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.main {
  padding: 1em;
}

.page {
  background-attachment: fixed;
  background-color: var(--background-color);
  background-image: var(--tree);
  background-position: right bottom;
  background-repeat: no-repeat;
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
}

.theme-switcher {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hidden {
  display: none;
}

.remove {
  display: none;
}

.title-heading {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.subtitle-heading {
  text-align: center;
}

.navigation-list {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.navigation-link {
  padding: 0.25rem;
}

.navigation-link:link {
  color: var(--link-color);
}

.navigation-link:visited {
  color: var(--link-visited-color);
}

.navigation-link:hover {
  background-color: var(--link-hover-background-color);
  color: var(--link-hover-color);
  border-radius: 4px;
}

.navigation-link:active {
  color: var(--link-active-color);
}

.phone-link:link {
  color: var(--link-color);
  text-decoration: none;
}

.phone-link:visited {
  color: var(--link-visted-color);
}

.phone-link:hover {
  background-color: var(--link-hover-background-color);
  color: var(--link-hover-color);
}

.phone-link-number {
  text-decoration: underline;
}

.navigation-list-item {
  display: inline;
}

.section-heading {
  color: var(--header-color);
  background-color: var(--header-background-color);
  font-size: 1rem;
  margin-bottom: 0;
  border-radius: 8px 8px 0 0;
  max-width: var(--section-width);
  padding: 1rem 0 0.5rem 2rem;
}

.section {
  border-radius: 8px;
  box-shadow: var(--shadow);
  max-width: var(--section-width);
}

.section-location {
  background-color: var(--section-background-color);
  border-radius: var(--section-radius);
  color: var(--section-color);
  max-width: var(--section-width);
  padding: 1rem;
}

.hours {
  background-color: var(--section-background-color);
  border-radius: var(--section-radius);
  color: var(--section-color);
  max-width: var(--section-width);
  padding: 1rem;
}

.language-list {
  list-style-type: none;
  margin: 0 0 0 1rem;
  padding: 0;
}

.language-list-item {
}

.location {
  background-color: var(--section-background-color);
  border-radius: var(--section-radius);
  color: var(--section-color);
  max-width: var(--section-width);
  padding: 1rem;
}

.contact-information {
  background-color: var(--section-background-color);
  border-radius: var(--section-radius);
  color: var(--section-color);
  max-width: var(--section-width);
  padding: 1rem;
}

.practitioner {
  background-color: var(--section-background-color);
  border-radius: var(--section-radius);
  color: var(--section-color);
  max-width: var(--section-width);
  padding: 1rem;
}

.practitioner-description {
}

.practitioner-photo {
  /**
   * I can't figure out why there seems to be an arbitrary 2 rem of padding
   * added on the right side of the image. There's more research to do, but
   * this fits the timebox.
   */
  max-width: calc(var(--section-width) - 2rem);
  border-radius: 1rem;
}

.reasons-list-container {
  background-color: var(--section-background-color);
  border-radius: var(--section-radius);
  color: var(--section-color);
  max-width: var(--section-width);
  padding: 1rem;
}

.services-list-container {
  background-color: var(--section-background-color);
  border-radius: var(--section-radius);
  color: var(--section-color);
  max-width: var(--section-width);
  padding: 1rem;
}

.services-list {
  display: none;
  margin: 0;
}

.services-heading {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.service-button {
  background-color: var(--afc1);
  border-style: none;
  border-radius: 1rem 1rem 0 0;
  color: var(--abc1);
  padding: 0.4rem;
  height: 3rem;
}

.selected-service-button {
  background-color: var(--abc1);
  border: solid var(--afc1) 0.1rem;
  border-bottom: none;
  border-radius: 1rem 1rem 0 0;
  color: var(--afc1);
  padding: 0.4rem;
  height: 3rem;
}

.service-button-splitter {
  border-bottom: solid var(--afc1) 0.1rem;
  width: 1.5rem;
}

.service-description-container {
}

.service-description {
  background-color: var(--section-background-color);
  color: var(--section-color);
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  border-color: var(--afc1);
  border-width: 0.1rem;
  border-style: solid;
  border-top: none;
}

.support {
  background-color: var(--section-background-color);
  border-radius: var(--section-radius);
  color: var(--section-color);
  max-width: var(--section-width);
  padding: 1rem;
}

.support-logo {
  width: 20rem;
}
